{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="{% static 'assets/images/favicon.png' %}" rel="icon" type="image/png">
    <title>Configurações da conta</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="{% static 'assets/css/icons.css' %}">
    <link rel="stylesheet" href="{% static 'assets/css/uikit.css' %}">
    <link rel="stylesheet" href="{% static 'assets/css/style.css' %}">
    <link rel="stylesheet" href="{% static 'assets/css/tailwind.css' %}">

</head>

<body>
    <div class="container m-auto"> 

        <h1 class="text-2xl leading-none text-gray-900 tracking-tight mt-3"> Configurações da conta </h1>
        <ul class="mt-5 -mr-3 flex-nowrap lg:overflow-hidden overflow-x-scroll uk-tab">
            <li class="uk-active"><a href="#">Geral</a></li>
            <li><a href="#">Profile</a></li>
            <li><a href="#">Privacidade</a></li>
            <li><a href="#">Notificações</a></li>
            <li><a href="#">Links sociais</a></li>
            <li><a href="#">Cobraça</a></li>
            <li><a href="#">Segurança</a></li>
            <li><a href="#"></a></li>
        </ul>
        <form action="{% url 'settings' %}" method="POST" enctype="multipart/form-data">
            {% csrf_token %}
            <div class="grid lg:grid-cols-3 mt-12 gap-8">
                <div>
                    <h3 class="text-xl mb-2"> Básico</h3>
                    <p></p>
                </div>
                <div class="bg-white rounded-md lg:shadow-lg shadow col-span-2">
                    
                    {% comment %} MESSAGES {% endcomment %}
                    <div>
                        {% for message in messages %}
                            {% if 'WARNING' in message.tags %}
                                <div style="witdh: 100%; background-color: #dc3545; border-radius: 5px; margin: 5px; padding: 5px;">
                                    <h5 style="color: white; font-weight: bold;">{{ message }}</h5>
                                </div>
                            {% endif %}
                            {% if 'SUCCESS' in message.tags %}
                                <div style="witdh: 100%; background-color: lightgreen; border-radius: 5px; margin: 5px; padding: 5px;">
                                    <h5 style="font-weight: bold;">{{ message }}</h5>
                                </div>
                            {% endif %}
                        {% endfor %}
                    </div>

                    <div class="grid grid-cols2 gap-3 lg:p-6 p-4">
                        <span style="color: gray;">
                            {% if profile.update_at == None %}
                                Atualize seu perfil para uma melhor experiência...
                            {% else %}
                                Atualizado em no dia {{ profile.update_at|date:"d" }}, mês {{ profile.update_at|date:"m" }} do ano de {{ profile.update_at|date:"Y" }} às {{ profile.update_at|date:"H:i:s" }} 
                            {% endif %}
                        </span>
                    </div>
                    <div class="grid grid-cols-2 gap-3 lg:p-6 p-4">
                        <div>
                        <label for=""> Nome</label>
                        <input 
                            type="text" 
                            placeholder="Nome..." 
                            name="first_name"
                            value="{{ profile.user.first_name }}"
                            class="shadow-none bg-gray-100">
                    </div>
                    <div>
                        <label for=""> Sobrenome</label>
                        <input 
                            type="text" 
                            placeholder="Sobrenome..." 
                            name="last_name"
                            value="{{ profile.user.last_name }}"
                            class="shadow-none bg-gray-100">
                    </div>
                    <div>
                        <label for=""> Nome de usuário</label>
                        <input 
                        type="text" 
                        placeholder="" 
                        name="username"
                        value="{{ profile.user.username }}"
                        class="shadow-none bg-gray-100">
                        <span style="color: lightgray;">Será possível trocar daqui 30 dias</span>
                    </div>
                    <div class="col-span-2">
                        <label for=""> E-mail</label>
                        <input 
                            type="text" 
                            placeholder="E-mail..."
                            name="email"
                            value="{{ profile.user.email }}"
                            class="shadow-none bg-gray-100">
                        <span style="color: lightgray;">Será possível trocar daqui 30 dias</span>
                    </div>
                    <div class="col-span-2">
                        <label for="about">Sobre você</label>  
                        <textarea  
                            rows="3"  
                            placeholder="Sou uma pessoa..." 
                            name="about"
                            class="shadow-none bg-gray-100">{{ profile.about }}</textarea>
                    </div> 
                    <div class="col-span-2">
                        <img src="{{ profile.profileimg.url }}" width="250" height="500" >
                        <label for=""> Profile Image</label>
                        <input 
                            type="file" 
                            name="image"
                            class="shadow-none bg-gray-100">
                    </div>
                    <div class="col-span-2">
                        <label for=""> Sua localização</label>
                        <input 
                            type="text" 
                            placeholder="São Paulo - SP" 
                            name="location"
                            value="{{ profile.location }}"
                            class="shadow-none bg-gray-100">
                    </div>
                    <div>
                        <label for=""> Trabalha com</label>
                        <input 
                            type="text" 
                            placeholder="Minha profissão..." 
                            name="work_at"
                            value="{{ profile.work_at }}"
                            class="shadow-none bg-gray-100">
                    </div> 
                    <div>
                        <label for=""> Relacionamento </label>
                        <select 
                            id="relationship" 
                            name="relationship" 
                            class="shadow-none bg-gray-100">
                            <option value="0">None</option>
                            <option value="1">Solteiro</option>
                            <option value="2">Em um relacionamento sério</option>
                            <option value="3" selected>Casado</option>
                            <option value="4">Divorciado</option>
                        </select>
                    </div>
                </div> 

                <div class="bg-gray-10 p-6 pt-0 flex justify-end space-x-3">
                    <a href="{% url 'feed' %}">
                        <button    
                            class="p-2 px-4 rounded bg-gray-50 text-red-500"
                            type="button"> 
                            Cancelar 
                        </button>
                    </a>
                    <button 
                        type="submit" 
                        class="button bg-blue-700"> 
                        Salvar 
                    </button>
                </div>
            </div>

            <div>
                <h3 class="text-xl mb-2"> Privacidade</h3>
                <p> </p>
            </div>
            <div class="bg-white rounded-md lg:shadow-lg shadow lg:p-6 p-4 col-span-2">

                <div class="space-y-3">
                    <div class="flex justify-between items-center">
                        <div>
                            <h4> Podem me seguir ?</h4>
                            <div>  </div>
                        </div>
                        <div class="switches-list -mt-8 is-large">
                            <div class="switch-container">
                                <label class="switch"><input type="checkbox"><span class="switch-button"></span> </label>
                            </div>
                        </div>
                    </div>
                    <hr>
                    <div class="flex justify-between items-center">
                        <div>
                            <h4> Mostrar minha atividades ?</h4>
                            <div>  </div>
                        </div>
                        <div class="switches-list -mt-8 is-large">
                            <div class="switch-container">
                                <label class="switch"><input type="checkbox" checked><span class="switch-button"></span> </label>
                            </div>
                        </div>
                    </div>
                    <hr>
                    <div class="flex justify-between items-center">
                        <div>
                            <h4> Me mostrar nas buscas?</h4>
                            <div>  </div>
                        </div>
                        <div class="switches-list -mt-8 is-large">
                            <div class="switch-container">
                                <label class="switch"><input type="checkbox"><span class="switch-button"></span> </label>
                            </div>
                        </div>
                    </div>
                    <hr>
                    <div class="flex justify-between items-center">
                        <div>
                            <h4> Permitir comentário nas minhas postagens?</h4>
                            <div>  </div>
                        </div>
                        <div class="switches-list -mt-8 is-large">
                            <div class="switch-container">
                                <label class="switch"><input type="checkbox"><span class="switch-button"></span> </label>
                            </div>
                        </div>
                    </div>
                </div>

                </div>
                <br>
            </div>
        </form>
    </div>
</body>
    

 <!-- Scripts
    ================================================== -->
    <script src="{% static 'assets/js/tippy.all.min.js' %}"></script>  
    <script src="{% static 'assets/js/jquery-3.3.1.min.js' %}"></script>
    <script src="{% static 'assets/js/uikit.js' %}"></script>
    <script src="{% static 'assets/js/simplebar.js' %}"></script>
    <script src="{% static 'assets/js/custom.js' %}"></script>


    <script src="{% static '../../unpkg.com/ionicons%405.2.3/dist/ionicons.js' %}"></script>
</body>

</html>